<div class="page-meta">
    <nav class="breadcrumb-style-one" aria-label="breadcrumb">
        <!-- <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Datatables</a></li>
            <li class="breadcrumb-item active" aria-current="page">Miscellaneous</li>
        </ol> -->
    </nav>
</div>
<div class="row">
    <div class="col-10 seperator-header">
        <h3 style="font-size: 25px; font-weight: bold; letter-spacing: 2px; font-family: 'Arial', sans-serif;">AUCTION LIST</h3>
    </div>
    <div class="col-2 text-end">
        <button class="btn btn-info add-address" data-bs-toggle="modal" data-bs-target="#createAuctionModal">Create Auction</button>
    </div>
</div>
<div class="modal fade" id="createAuctionModal" tabindex="-1" aria-labelledby="addAddressModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addAddressModalLabel">Add Seller</h5>
            </div>
            <div class="modal-body d-flex flex-column justify-content-center align-items-center" style="padding: 30px;">
                <form class="row" >

                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label">Text: </label>
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="mb-3">
                            <label class="form-label">Day: </label>
                            <input type="datetime-local" class="form-control">
                        </div>
                    </div>

                    
                    <div class="col-12">
                        <div class="mb-4">
                            <button type="submit" class="btn btn-secondary w-100 icon-error">Add</button>
                        </div>
                    </div>    
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row layout-spacing">
    <div class="col-lg-12">
        <div class="statbox widget box box-shadow">
            <div class="widget-content widget-content-area">
                <table id="style-1" class="table style-1 dt-table-hover non-hover">
                    <thead>
                        <tr>
                            <th class="checkbox-column dt-no-sorting"></th>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Price</th>
                            <th>Seller</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="checkbox-column"> 1 </td>
                            <td class="user-name">Sean Freeman</td>
                            <td class="">
                                <a class="profile-img" href="javascript: void(0);">
                                    <img src="../src/assets/img/profile-3.jpeg" alt="product">
                                </a>
                            </td>
                            <td>seanfreeman&#64;admin.com</td>
                            <td>555-555-5555</td>
                            <td>
                                <div class="d-flex">
                                    <div class=" align-self-center d-m-success  mr-1 data-marker"></div>
                                    <span class="label label-success">Approved</span>
                                </div>
                            </td>
                            
                        </tr>
                        <tr>
                            <td class="checkbox-column"> 2 </td>
                            <td class="user-name">Donna Rogers</td>
                            <td class="">
                                <a class="profile-img" href="javascript: void(0);">
                                    <img src="../src/assets/img/profile-2.jpeg" alt="product">
                                </a>
                            </td>
                            <td>donnarogers&#64;user.com</td>
                            <td>555-555-6666</td>
                            <td>
                                <div class="d-flex">
                                    <div class=" align-self-center d-m-warning  mr-1 data-marker"></div>
                                    <span class="label label-warning">Suspended</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="checkbox-column"> 3 </td>
                            <td class="user-name">Irene Collins</td>
                            <td class="">
                                <a class="profile-img" href="javascript: void(0);">
                                    <img src="../src/assets/img/profile-4.jpeg" alt="product">
                                </a>
                            </td>
                            <td>irene&#64;superadmin.com</td>
                            <td>777-555-5555</td>
                            <td>
                                <div class="d-flex">
                                    <div class=" align-self-center d-m-danger  mr-1 data-marker"></div>
                                    <span class="label label-danger">Closed</span>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td class="checkbox-column"> 4 </td>
                            <td class="user-name">Vincent Carpenter</td>
                            <td class="">
                                <a class="profile-img" href="javascript: void(0);">
                                    <img src="../src/assets/img/profile-5.jpeg" alt="product">
                                </a>
                            </td>
                            <td>vincentC&#64;admin.com</td>
                            <td>555-666-5555</td>
                            <td>
                                <div class="d-flex">
                                    <div class=" align-self-center d-m-success  mr-1 data-marker"></div>
                                    <span class="label label-success">Approved</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="checkbox-column"> 5 </td>
                            <td class="user-name">Susan Phillips</td>
                            <td class="">
                                <a class="profile-img" href="javascript: void(0);">
                                    <img src="../src/assets/img/profile-6.jpeg" alt="product">
                                </a>
                            </td>
                            <td>susan&#64;yahoo.com</td>
                            <td>444-444-4444</td>
                            <td>
                                <div class="d-flex">
                                    <div class=" align-self-center d-m-warning  mr-1 data-marker"></div>
                                    <span class="label label-warning">Suspended</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="checkbox-column"> 6 </td>
                            <td class="user-name">Alexander Gray</td>
                            <td class="">
                                <a class="profile-img" href="javascript: void(0);">
                                    <img src="../src/assets/img/profile-7.jpeg" alt="product">
                                </a>
                            </td>
                            <td>alexander&#64;gmail.com</td>
                            <td>111-111-1111</td>
                            <td>
                                <div class="d-flex">
                                    <div class=" align-self-center d-m-danger  mr-1 data-marker"></div>
                                    <span class="label label-danger">Closed</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="checkbox-column"> 7 </td>
                            <td class="user-name">Judy Holmes</td>
                            <td class="">
                                <a class="profile-img" href="javascript: void(0);">
                                    <img src="../src/assets/img/profile-8.jpeg" alt="product">
                                </a>
                            </td>
                            <td>judy&#64;customer.com</td>
                            <td>111-666-1111</td>
                            <td>
                                <div class="d-flex">
                                    <div class=" align-self-center d-m-success  mr-1 data-marker"></div>
                                    <span class="label label-success">Approved</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>