<div class="row" id="cancel-row">

    <div class="col-xl-12 col-lg-12 col-sm-12 layout-top-spacing layout-spacing">
        <div class="widget-content widget-content-area br-8">
            <table id="invoice-list" class="table dt-table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Image</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Seller</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <strong>1</strong>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div class="usr-img-frame me-2">
                                    <img alt="avatar" class="img-fluid" src="../src/assets/img/profile-13.jpeg">
                                </div>
                            </div>
                        </td>
                        <td><span> A Hair Under My Skin </span></td>
                        <td><span>1</span></td>
                        <td><span class="inv-amount">$234.40</span></td>
                        <td>
                            <div class="d-flex">
                                <div class="usr-img-frame me-2 rounded-circle">
                                    <img alt="avatar" class="img-fluid rounded-circle"
                                        src="../src/assets/img/profile-13.jpeg">

                                </div>
                                <p class="inv-amount mx-2">Kiet Tran</p>
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-success btn-lg" data-bs-toggle="modal"
                                data-bs-target="#reviewModal">
                                Review Product
                            </button>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <strong>2</strong>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div class="usr-img-frame me-2">
                                    <img alt="avatar" class="img-fluid" src="../src/assets/img/profile-14.jpeg">
                                </div>
                            </div>
                        </td>
                        <td><span> Lily Pond Hand knotted Rug </span></td>
                        <td><span>1</span></td>
                        <td><span class="inv-amount">$534.40</span></td>
                        <td>
                            <div class="d-flex">
                                <div class="usr-img-frame me-2 rounded-circle">
                                    <img alt="avatar" class="img-fluid rounded-circle"
                                        src="../src/assets/img/profile-13.jpeg">

                                </div>
                                <p class="inv-amount mx-2">Kiet Tran</p>
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-success btn-lg" data-bs-toggle="modal"
                                data-bs-target="#reviewModal">
                                Review Product
                            </button>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <strong>3</strong>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div class="usr-img-frame me-2">
                                    <img alt="avatar" class="img-fluid" src="../src/assets/img/profile-15.jpeg">
                                </div>
                            </div>
                        </td>
                        <td><span> NEXUS 18.01 - Series Archaic/Modern </span></td>
                        <td><span>1</span></td>
                        <td><span class="inv-amount">$35.40</span></td>
                        <td>
                            <div class="d-flex">
                                <div class="usr-img-frame me-2 rounded-circle">
                                    <img alt="avatar" class="img-fluid rounded-circle"
                                        src="../src/assets/img/profile-13.jpeg">

                                </div>
                                <p class="inv-amount mx-2">Kiet Tran</p>
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-success btn-lg" data-bs-toggle="modal"
                                data-bs-target="#reviewModal">
                                Review Product
                            </button>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <strong>4</strong>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div class="usr-img-frame me-2">
                                    <img alt="avatar" class="img-fluid" src="../src/assets/img/profile-16.jpeg">
                                </div>
                            </div>
                        </td>
                        <td><span> Unknown Lady, Eva? </span></td>
                        <td><span>1</span></td>
                        <td><span class="inv-amount">$874.40</span></td>
                        <td>
                            <div class="d-flex">
                                <div class="usr-img-frame me-2 rounded-circle">
                                    <img alt="avatar" class="img-fluid rounded-circle"
                                        src="../src/assets/img/profile-13.jpeg">

                                </div>
                                <p class="inv-amount mx-2">Kiet Tran</p>
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#reviewModal">
                                Review Product
                              </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        

        <div style="float: right;" class="mb-2  btn-lg">
            <button (click)="back()" class="btn btn-success mb-2  btn-lg " style="padding-left: 55px; padding-right: 55px;">Back to
                Home</button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-dark text-white">
                        <h5 class="modal-title text-white" id="reviewModalLabel">Review Product</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <form [formGroup]="reviewForm" (ngSubmit)="send()">
                        <div class="modal-body p-4">
                            <!-- Product Image and Name -->
                            <div class="d-flex align-items-center mb-4">
                                <img src="../src/assets/img/profile-13.jpeg" alt="Product Image"
                                    class="img-fluid rounded me-3">
                                <h4 class="mb-0">Product Name</h4>
                            </div>
    
                            <!-- Product Rating -->
                            <div class="mb-4">
                                <label class="fw-bold">Review Product:</label>
                                <div class="d-flex">
                                    <div class="star-rating product-stars">
                                      <i class="fa fa-star fa-2x text-secondary" data-star="1" style="cursor: pointer;"></i>
                                      <i class="fa fa-star fa-2x text-secondary" data-star="2" style="cursor: pointer;"></i>
                                      <i class="fa fa-star fa-2x text-secondary" data-star="3" style="cursor: pointer;"></i>
                                      <i class="fa fa-star fa-2x text-secondary" data-star="4" style="cursor: pointer;"></i>
                                      <i class="fa fa-star fa-2x text-secondary" data-star="5" style="cursor: pointer;"></i>
                                    </div>
                                  </div>
                                  
                                  
                            </div>
    
                            <!-- Review Description -->
                            <div class="form-group">
                                <label for="reviewDescription" class="fw-bold">Your opinion about our product:</label>
                                <textarea class="form-control" id="reviewDescription" rows="4"
                                    placeholder="Enter your opinion..." formControlName="reviewText"></textarea>
                            </div>
    
                            
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success" >Send Review</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>




        
        