<div class="row layout-top-spacing">

    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">

        <div class="widget-content widget-content-area br-8">

            <div class="row justify-content-center">
                <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-7 col-sm-9 col-12 pe-3">
                    <!-- Swiper -->
                    <div id="main-slider" class="splide">
                        <div class="splide__track">
                                <ul class="splide__list">
                                    <li class="splide__slide">
                                        <a href="../src/assets/img/ecommerce-1.jpg" class="glightbox">
                                            <img alt="ecommerce" src="../src/assets/img/ecommerce-1.jpg">
                                        </a>
                                    </li>
                                    <li class="splide__slide">
                                        <a href="../src/assets/img/ecommerce-2.jpg" class="glightbox">
                                            <img alt="ecommerce" src="../src/assets/img/ecommerce-2.jpg">
                                        </a>
                                    </li>
                                    <li class="splide__slide">
                                        <a href="../src/assets/img/ecommerce-4.jpg" class="glightbox">
                                            <img alt="ecommerce" src="../src/assets/img/ecommerce-4.jpg">
                                        </a>
                                    </li>
                                    <li class="splide__slide">
                                        <a href="../src/assets/img/ecommerce-5.jpg" class="glightbox">
                                            <img alt="ecommerce" src="../src/assets/img/ecommerce-5.jpg">
                                        </a>
                                    </li>
                                    <li class="splide__slide">
                                        <a href="../src/assets/img/ecommerce-6.jpg" class="glightbox">
                                            <img alt="ecommerce" src="../src/assets/img/ecommerce-6.jpg">
                                        </a>
                                    </li>
                                </ul>
                        </div>
                        </div>

                        <div id="thumbnail-slider" class="splide">
                        <div class="splide__track">
                                <ul class="splide__list">
                                    <li class="splide__slide"><img alt="ecommerce" src="../src/assets/img/ecommerce-1.jpg"></li>
                                    <li class="splide__slide"><img alt="ecommerce" src="../src/assets/img/ecommerce-2.jpg"></li>
                                    <li class="splide__slide"><img alt="ecommerce" src="../src/assets/img/ecommerce-4.jpg"></li>
                                    <li class="splide__slide"><img alt="ecommerce" src="../src/assets/img/ecommerce-5.jpg"></li>
                                    <li class="splide__slide"><img alt="ecommerce" src="../src/assets/img/ecommerce-6.jpg"></li>
                                </ul>
                        </div>
                        </div>

                </div>

                <div class="col-xxl-4 col-xl-5 col-lg-12 col-md-12 col-12 mt-xl-0 mt-5 align-self-center">

                    <div class="product-details-content">
                    
                        
                        <h3 class="product-title mb-0">Cotton T-Shit</h3>


                        <div class="row">

                            <div class="col-md-6 col-sm-6 col-9">

                                <div class="pricing">

                                    <span class="discounted-price"> Current bid: $2000</span>
                                    
                                </div>
                                
                            </div>
                            <div class="col-md-6 col-sm-6 col-6 text-end align-middle">
                                
                                <span class="regular-price"> Starting bid:&nbsp;</span>
                                <span class="pricing">
                                    <span class="regular-price">$300</span>
                                </span>
                            </div>
                            
                        </div>                                            

                        <hr class="mb-4">
                        <div class="row quantity-selector mb-4">
                            <div class="col-xl-4 col-lg-4 col-sm-4">Artist: </div>
                            <div class="col-xl-8 col-lg-8 col-sm-8 text-end">
                                <span>Lucy </span>
                            </div>
                        </div>
                        <div class="row quantity-selector mb-4">
                            <div class="col-xl-4 col-lg-4 col-sm-4">Material: </div>
                            <div class="col-xl-8 col-lg-8 col-sm-8 text-end">
                                <span>Paper</span>
                            </div>
                        </div>
                        <div class="row quantity-selector mb-4">
                            <div class="col-xl-4 col-lg-4 col-sm-4">Year: </div>
                            <div class="col-xl-8 col-lg-8 col-sm-8 text-end">
                                <span>1945</span>
                            </div>
                        </div>


                        <div class="row quantity-selector ">
                            <div class="col-xl-4 col-lg-4 col-sm-4">Auction ends: </div>
                            <div class="col-xl-8 col-lg-8 col-sm-8 text-end">
                                <span>September 25, 2024 12:41:00 AM </span>
                            </div>
                        </div>

                        <hr class="mb-2 mt-2">
 
                        <div class="action-button text-center">
                            <div class="row mb-3">
                                
                                <div class="col-xxl-14 col-xl-4 col-sm-4 mb-sm-0 mb-3">
                                    <div class="input-group mb-3">
                                        <button class="btn btn-primary" type="button">-</button>
                                        <input type="text" class="form-control" style="padding-left:0.5rem; padding-right: 0.5rem; text-align: center;" placeholder="1" readonly >
                                        <button class="btn btn-primary" type="button">+</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-xxl-4 col-xl-4 col-sm-4 mb-sm-0 mb-3">
                                    <button class="btn btn-primary w-100 btn-lg2">
                                        <img src="icon/bid.svg"  type="image/svg+xml" width="60" height="60" viewbox="0 0 60 60">
                                        <span>&nbsp;&nbsp;</span>
                                            <span class="btn-text-inner">Bid</span>
                                    </button>
                                </div>

                                <div class="col-xxl-8 col-xl-8 col-sm-8">
                                    <button class="btn btn-success w-100 btn-lg pt-4 pb-4">Buy now for 1,000,000,000 Vnđ</button>
                                </div>
                                
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
            </div>

        </div>

    </div>

    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">

        <div class="widget-content widget-content-area br-8">

            <div class="production-descriptions simple-pills">

                <div class="pro-des-content">

                    
                    
                    <div id="iconsAccordion" class="accordion-icons accordion">

                        <div class="card">
                            <div class="card-header" id="headingTwo3">
                                <section class="mb-0 mt-0">
                                    <div role="menu" class="collapsed" data-bs-toggle="collapse" data-bs-target="#iconAccordionTwo" aria-expanded="false" aria-controls="iconAccordionTwo">
                                        <img [src]="theme ? 'icon/auction-history.svg' : 'icon/auction-history-black.svg'" type="image/svg+xml" width="30" height="30" viewbox="0 0 30 30" class="auction-history">
                                        Auction history  <div class="icons"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></div>
                                    </div>
                                </section>
                            </div>
                            <div id="iconAccordionTwo" class="collapse" aria-labelledby="headingTwo3" data-bs-parent="#iconsAccordion">
                                <div class="card-body">
                            
                                    <div class="row">
                                                                                                    
                                        <div class="col-md-12 mx-auto">

                                            <div class="media mb-4">
                                                <div class="avatar me-sm-4 mb-sm-0 me-0 mb-3">
                                                    <img alt="avatar" src="../src/assets/img/profile-2.jpeg" class="rounded-circle">
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading mb-1">Kelly Young</h4>
                                                    <div class="stars">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                    </div>
                                                    <div class="meta-tags">a min ago</div>
                                                    <p class="media-text mt-2">Fusce condimentum cursus mauris et ornare. Mauris fermentum mi id sollicitudin viverra. Aenean dignissim sed ante eget dapibus. Sed dapibus nulla elementum, rutrum neque eu, gravida neque.</p>
                                                </div>
                                            </div>

                                            <div class="media mb-4">
                                                <div class="avatar me-sm-4 mb-sm-0 me-0 mb-3">
                                                    <img alt="avatar" src="../src/assets/img/profile-4.jpeg" class="rounded-circle">
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading mb-1">Mary McDonald</h4>
                                                    <div class="stars">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                    </div>
                                                    <div class="meta-tags">40 mins ago</div>
                                                    <p class="media-text mt-2">Fusce condimentum cursus mauris et ornare. Mauris fermentum mi id sollicitudin viverra. Aenean dignissim sed ante eget dapibus. Sed dapibus nulla elementum, rutrum neque eu, gravida neque.</p>
                                                </div>
                                            </div>

                                            <div class="media mb-4">
                                                <div class="avatar me-sm-4 mb-sm-0 me-0 mb-3">
                                                    <img alt="avatar" src="../src/assets/img/profile-21.jpeg" class="rounded-circle">
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading mb-1">Oscar Garner</h4>
                                                    <div class="stars">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star empty-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                    </div>
                                                    <div class="meta-tags">1 hr ago</div>
                                                    <p class="media-text mt-2">Fusce condimentum cursus mauris et ornare. Mauris fermentum mi id sollicitudin viverra. Aenean dignissim sed ante eget dapibus. Sed dapibus nulla elementum, rutrum neque eu, gravida neque.</p>
                                                </div>
                                            </div>

                                            <div class="media mb-4">
                                                <div class="avatar me-sm-4 mb-sm-0 me-0 mb-3">
                                                    <img alt="avatar" src="../src/assets/img/profile-24.jpeg" class="rounded-circle">
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading mb-1">Daisy Anderson</h4>
                                                    <div class="stars">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                    </div>
                                                    <div class="meta-tags">15 hrs ago</div>
                                                    <p class="media-text mt-2">Fusce condimentum cursus mauris et ornare. Mauris fermentum mi id sollicitudin viverra. Aenean dignissim sed ante eget dapibus. Sed dapibus nulla elementum, rutrum neque eu, gravida neque.</p>
                                                </div>
                                            </div>

                                            <div class="media mb-4">
                                                <div class="avatar me-sm-4 mb-sm-0 me-0 mb-3">
                                                    <img alt="avatar" src="../src/assets/img/profile-5.jpeg" class="rounded-circle">
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading mb-1">Andy King</h4>
                                                    <div class="stars">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                    </div>
                                                    <div class="meta-tags">1 day ago</div>
                                                    <p class="media-text mt-2">Fusce condimentum cursus mauris et ornare. Mauris fermentum mi id sollicitudin viverra. Aenean dignissim sed ante eget dapibus. Sed dapibus nulla elementum, rutrum neque eu, gravida neque.</p>
                                                </div>
                                            </div>

                                            <div class="media mb-4">
                                                <div class="avatar me-sm-4 mb-sm-0 me-0 mb-3">
                                                    <img alt="avatar" src="../src/assets/img/profile-30.png" class="rounded-circle">
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading mb-1">Andy King</h4>
                                                    <div class="stars">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                    </div>
                                                    <div class="meta-tags">2 days ago</div>
                                                    <p class="media-text mt-2">Fusce condimentum cursus mauris et ornare. Mauris fermentum mi id sollicitudin viverra. Aenean dignissim sed ante eget dapibus. Sed dapibus nulla elementum, rutrum neque eu, gravida neque.</p>
                                                </div>
                                            </div>

                                            <div class="media mb-4">
                                                <div class="avatar me-sm-4 mb-sm-0 me-0 mb-3">
                                                    <img alt="avatar" src="../src/assets/img/profile-34.jpeg" class="rounded-circle">
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading mb-1">Shaun Park</h4>
                                                    <div class="stars">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                    </div>
                                                    <div class="meta-tags">a week ago</div>
                                                    <p class="media-text mt-2">Fusce condimentum cursus mauris et ornare. Mauris fermentum mi id sollicitudin viverra. Aenean dignissim sed ante eget dapibus. Sed dapibus nulla elementum, rutrum neque eu, gravida neque.</p>
                                                </div>
                                            </div>

                                            <div class="media">
                                                <div class="avatar me-sm-4 mb-sm-0 me-0 mb-3">
                                                    <img alt="avatar" src="../src/assets/img/profile-32.jpeg" class="rounded-circle">
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading mb-1">Xavier</h4>
                                                    <div class="stars">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star empty-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                    </div>
                                                    <div class="meta-tags">2 weeks ago</div>
                                                    <p class="media-text mt-2">Fusce condimentum cursus mauris et ornare. Mauris fermentum mi id sollicitudin viverra. Aenean dignissim sed ante eget dapibus. Sed dapibus nulla elementum, rutrum neque eu, gravida neque.</p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        
    </div>

</div>