<div class="row mb-4 layout-spacing layout-top-spacing">
    <form [formGroup]="postArtForm" (ngSubmit)="post()"></form>
    <div class="col-xxl-9 col-xl-12 col-lg-12 col-md-12 col-sm-12">

    <div class="widget-content widget-content-area ecommerce-create-section">

        <div class="row mb-4">
            <div class="col-sm-12">
                <input type="text" class="form-control" id="inputEmail3" placeholder="Product Name">
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-sm-12">
                <label>Description</label>
                <div id="product-description"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label for="product-images">Upload Images</label>
                <div class="multiple-file-upload">
                    <input type="file" class="form-control file-upload-input-lg" name="filepond" id="avatar"
                    accept="image/png, image/jpeg, image/gif" (change)="selectFile($event)"/>
                </div>
                <div class="mt-4 mb-4">
                    @if(imageArt!=null){
                        <img src="{{imageArt}}" style="border: 2px solid darkgrey" class="rounded-4  object-fit-cover shadow" width="500px" height="500px">
                    }
                </div>
            </div>
            
        </div>
    </div>
    
    </div>

    <div class="col-xxl-3 col-xl-12 col-lg-12 col-md-12 col-sm-12">

        <div class="row">
            <div class="col-xxl-12 col-xl-8 col-lg-8 col-md-7 mt-xxl-0 mt-4">
                <div class="widget-content widget-content-area ecommerce-create-section">
                    <div class="row">
                        <div class="col-xxl-12 mb-4">
                            <div class="switch form-switch-custom switch-inline form-switch-secondary">
                                <input class="switch-input" type="checkbox" role="switch" id="in-stock">
                                <label class="switch-label" for="in-stock">In Stock</label>
                            </div>
                        </div>
                        <div class="col-xxl-12 col-md-6 mb-4">
                            <label for="Size">Size</label>
                            <input id="Size" class="form-control">
                        </div>
                        <div class="col-xxl-12 col-md-6 mb-4">
                            <label for="Paint">Paint</label>
                            <input  class="form-control" id="Paint">
                        </div>
                        <div class="col-xxl-12 col-md-6 mb-4">
                            <label for="Material">Material</label>
                            <input id="Material" class="form-control">
                        </div>
                        <div class="col-xxl-12 col-md-6 mb-4">
                            <label for="Type">Type</label>
                            <select class="form-select" id="Type">
                                <option value="">Choose...</option>
                                <option value="Online Sales">Online Sales</option>
                                <option value="Bid">Bid</option>
                            </select>
                            
                        </div>
                        <div class="col-xxl-12 col-md-6 mb-4">
                            <label for="Origin">Origin</label>
                            <input type="text" class="form-control" id="proCode" value="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-12 col-xl-4 col-lg-4 col-md-5 mt-4">
                <div class="widget-content widget-content-area ecommerce-create-section">
                    <div class="row">
                        <div class="col-sm-12 mb-4">
                            <label for="regular-price">Regular Price</label>
                            <input type="text" class="form-control" id="regular-price" value="">
                        </div>
                        <!-- <div class="col-sm-12 mb-4">
                            <label for="sale-price">Sale Price</label>
                            <input type="text" class="form-control" id="sale-price" value="">
                        </div> -->
                        <!-- <div class="col-sm-12 mb-4">
                            <div class="switch form-switch-custom switch-inline form-switch-danger">
                                <input class="switch-input" type="checkbox" role="switch" id="pricing-includes-texes">
                                <label class="switch-label" for="pricing-includes-texes">Price includes taxes</label>
                            </div>
                        </div> -->
                        <div class="col-sm-12">
                            <button class="btn btn-success w-100">Add Product</button>
                        </div>
                    </div>                                            
                </div>
            </div>
        </div>
    </div>

</div>